body {
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    padding-top: 3%;
}

.clock {
    text-align: center;
    width: 100%;
}

.el-table .warning-row {
    --el-table-tr-background-color: var(--el-color-warning-lighter);
}
.el-table .success-row {
    --el-table-tr-background-color: var(--el-color-success-lighter);
}