<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <link rel="shortcut icon" href="assets/head.ico"type="image/x-icon" />
        <title>Ring Clock</title>
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/index.css">
        <script src="js/vue.global.prod.js"></script>
        <script src="js/index.full.js"></script>
        <script src="js/d3.v4.min.js"></script>
        <script src="js/axios.min.js"></script>
        <script src="js/qs.min.js"></script>
    </head>
    <body>
        <div id="todo-clock" class="clock">
            

            <el-row>
                <el-col :span="8" :offset="8">
                    <el-radio-group
                    v-model="username"
                    fill="plum"
                    @change="changeName">
                        <el-radio-button label="lanran">我是小染</el-radio-button>
                        <el-radio-button label="xiaowu">我是小吴</el-radio-button>
                    </el-radio-group>
                </el-col>
                <el-col :span="8" style="text-align: left;">
                    <el-button
                    type="success"
                    @click="addEvent">加个日程</el-button>
                    <el-button
                    @click="showEvents"
                    type="primary">今日日程</el-button>
                </el-col>
            </el-row>

            <el-divider><i class="el-icon-dessert"></i></el-divider>

            <svg :width="svgWidth" :height="svgWidth">
                <g id="clock"></g>
                <g id="events-xiaowu"></g>
                <g id="events-lanran"></g>
            </svg>

            <el-dialog
            title="添加日程"
            v-model="addingEvent"
            @open="dialogOpen()"
            :close-on-click-modal=false>
                <el-form
                ref="eventForm"
                :model="form"
                label-width="80px"
                :rules="rules"
                status-icon>
                    <el-form-item label="开始日期" prop="date">
                        <el-col :span="11">
                            <el-date-picker
                            type="date"
                            placeholder="开始日期"
                            v-model="form.date"
                            style="width:100%;">
                            </el-date-picker>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="起止时间" required>
                        <el-col :span="11">
                            <el-form-item prop="time1">
                                <el-time-picker
                                placeholder="开始时间"
                                v-model="form.time1"
                                style="width: 100%;"
                                ></el-time-picker>
                            </el-form-item>
                        </el-col>
                        <el-col class="line" :span="2">&nbsp;&nbsp;&nbsp;</el-col>
                        <el-col :span="11">
                            <el-form-item prop="time2">
                                <el-time-picker
                                placeholder="结束时间"
                                v-model="form.time2"
                                style="width: 100%;"
                                ></el-time-picker>
                            </el-form-item>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="我是谁呀" required>
                        <el-col :span="11">
                            <el-radio-group
                            v-model="form.name"
                            fill="#73c2fb">
                                <el-radio-button label="lanran">我是小染</el-radio-button>
                                <el-radio-button label="xiaowu">我是小吴</el-radio-button>
                            </el-radio-group>
                        </el-col>
                        <el-col class="line" :span="2">&nbsp;&nbsp;&nbsp;</el-col>
                        <el-col :span="11">
                            <el-tooltip placement="top" content="用于确定时区，会自动转换夏/冬令时">
                                <i class="el-icon-question" style="font-size:1.2rem;"></i>                                 
                            </el-tooltip>
                        </el-col>
                    </el-form-item>
                    <el-form-item  label="事件频率" required>
                        <el-col :span="11">
                            <el-radio-group
                            v-model="form.freq"
                            fill="#73c2fb">
                                <el-radio-button label="once">单次</el-radio-button>
                                <el-radio-button label="daily">每天</el-radio-button>
                                <el-radio-button label="weekly">每周</el-radio-button>
                            </el-radio-group>
                        </el-col>
                    </el-form-item>
                    <el-form-item label="事件内容" prop="event">
                        <el-input v-model="form.event" autocomplete="off"></el-input>
                    </el-form-item>
                    <el-form-item label="身份验证" prop="validate">
                        <el-input v-model="form.validate" placeholder="请输入姓名拼音全拼"></el-input>
                    </el-form-item>
                </el-form>
                <span class="dialog-footer">
                    <el-button @click="resetEventForm()">重置</el-button>
                    <el-button type="primary" @click="submitEvent()">添加</el-button>
                    &nbsp;&nbsp;
                    <i class="el-icon-loading"
                    style="font-size:2.2rem;position:absolute;"
                    v-if="sendingEvent"></i>
                </span>
            </el-dialog>

            <el-dialog
            title="今日日程"
            v-model="showingEvents"
            :close-on-click-modal=false
            width="70%">
                <el-scrollbar max-height="400px">
                <el-divider>小染的日程</el-divider>

                <el-table :data="eventData.lanran"
                :default-sort="{prop:'st_sec'}" :row-class-name="tableRowStatus">
                    <el-table-column prop="event" label="事件">
                    </el-table-column>
                    <el-table-column prop="st_sec" label="开始时间" sortable
                    :formatter="timeFormatterSt">
                    </el-table-column>
                    <el-table-column prop="en_sec" label="结束时间" sortable
                    :formatter="timeFormatterEn">
                    </el-table-column>
                    <el-table-column fixed="right">
                        <template #default="scope">
                            <el-button
                            type="danger"
                            size="medium"
                            @click="deleteItem(scope.row.id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>

                <el-divider>小吴的日程</el-divider>

                <el-table :data="eventData.xiaowu"
                :default-sort="{prop:'st_sec'}" :row-class-name="tableRowStatus">
                    <el-table-column prop="event" label="事件">
                    </el-table-column>
                    <el-table-column prop="st_sec" label="开始时间" sortable
                    :formatter="timeFormatterSt">
                    </el-table-column>
                    <el-table-column prop="en_sec" label="结束时间" sortable
                    :formatter="timeFormatterEn">
                    </el-table-column>
                    <el-table-column fixed="right">
                        <template #default="scope">
                            <el-button
                            type="danger"
                            size="medium"
                            @click="deleteItem(scope.row.id)">删除</el-button>
                        </template>
                    </el-table-column>
                </el-table>
                </el-scrollbar>
            </el-dialog>


        </div>

        <script src="js/todo-list.js"></script>
        <script src="js/utils.js"></script>
        <script>
            Vue.createApp(Todo).use(ElementPlus).mount("#todo-clock");
        </script>
    </body>
</html>